.rows{
    margin-left:33em;
}
#firstrow{
    margin-top:3em;
}
#heading{
    text-align: center;
    text-shadow: 4px 2px 3px white;

    font-weight: bold;
     font-size: 80px;

}
body{
   background-color: darkslategrey;
}
#points{
    margin-left: 40em;
    font-size: large;
}
#butt{
    margin: auto;
    height:30px;
    width:100px;
    font-size: 15px;
}
#congo{
    margin:auto;
}